In [1]:
import yfinance as yf
import pandas as pd
from ipywidgets import Output

In [2]:
stocks = ["aapl","goog"]
data2 =pd.DataFrame([])
pd.options.display.float_format = '{:.2f}'.format
# pd.set_option('display.max_rows', None)

In [3]:
mtickers= yf.Tickers("aapl goog")

In [4]:
mtickers

yfinance.Tickers object <AAPL,GOOG>

In [5]:
type (mtickers.tickers)

dict

In [6]:
mtickers.tickers.keys()

dict_keys(['AAPL', 'GOOG'])

In [7]:
aapl = mtickers.tickers['AAPL']

In [8]:
aapl.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-02-08 00:00:00-05:00,189.15,189.30,187.11,188.08,40962000,0.00,0.00
2024-02-09 00:00:00-05:00,188.65,189.99,188.00,188.85,45155200,0.24,0.00
2024-02-12 00:00:00-05:00,188.42,188.67,186.79,187.15,41781900,0.00,0.00
2024-02-13 00:00:00-05:00,185.77,186.21,183.51,185.04,56529500,0.00,0.00
2024-02-14 00:00:00-05:00,185.32,185.53,182.44,184.15,54630500,0.00,0.00
2024-02-15 00:00:00-05:00,183.55,184.49,181.35,183.86,65434500,0.00,0.00
2024-02-16 00:00:00-05:00,183.42,184.85,181.67,182.31,49701400,0.00,0.00
2024-02-20 00:00:00-05:00,181.79,182.43,180.00,181.56,53665600,0.00,0.00
2024-02-21 00:00:00-05:00,181.94,182.89,180.66,182.32,41529700,0.00,0.00
2024-02-22 00:00:00-05:00,183.48,184.96,182.46,184.37,52292200,0.00,0.00
2024-02-23 00:00:00-05:00,185.01,185.04,182.23,182.52,45119700,0.00,0.00
2024-02-26 00:00:00-05:00,182.24,182.76,180.65,181.16,40867400,0.00,0.00
2024-02-27 00:00:00-05:00,181.10,183.92,179.56,182.63,54318900,0.00,0.00
2024-02-28 00:00:00-05:00,182.51,183.12,180.13,181.42,48953900,0.00,0.00
2024-02-29 00:00:00-05:00,181.27,182.57,179.53,180.75,136682600,0.00,0.00
2024-03-01 00:00:00-05:00,179.55,180.53,177.38,179.66,73488000,0.00,0.00
2024-03-04 00:00:00-05:00,176.15,176.90,173.79,175.10,81510100,0.00,0.00
2024-03-05 00:00:00-05:00,170.76,172.04,169.62,170.12,95132400,0.00,0.00
2024-03-06 00:00:00-05:00,171.06,171.24,168.68,169.12,68587700,0.00,0.00
2024-03-07 00:00:00-05:00,169.15,170.73,168.49,169.00,69118003,0.00,0.00

In [28]:
for k,v in mtickers.tickers.items():
    print(type (v.ticker))

<class 'str'>
<class 'str'>