In [1]:
import yfinance as yf
import pandas as pd
from sklearn.metrics import precision_score, accuracy_score
from sklearn.metrics import precision_score, accuracy_score

In [2]:
pd.options.display.float_format = '{:.2f}'.format
sp500 = yf.Ticker("^GSPC")
sp500 = sp500.history(period="max")
# sp500.to_csv("sp500.csv")

In [3]:
del sp500["Dividends"]
del sp500["Stock Splits"]

In [4]:
sp500["Tomarrow"] = sp500["Close"].shift(-1)

In [5]:
sp500["Target"] = (sp500["Close"]<sp500["Tomarrow"]).astype(int)

In [6]:
sp500=sp500.loc["1990-1-1":].copy()

In [7]:
sp500

,Open,High,Low,Close,Volume,Tomarrow,Target
Date,,,,,,,
1990-01-02 00:00:00-05:00,353.40,359.69,351.98,359.69,162070000,358.76,0
1990-01-03 00:00:00-05:00,359.69,360.59,357.89,358.76,192330000,355.67,0
1990-01-04 00:00:00-05:00,358.76,358.76,352.89,355.67,177000000,352.20,0
1990-01-05 00:00:00-05:00,355.67,355.67,351.35,352.20,158530000,353.79,1
1990-01-08 00:00:00-05:00,352.20,354.24,350.54,353.79,140110000,349.62,0
...,...,...,...,...,...,...,...
2024-03-11 00:00:00-04:00,5111.96,5124.66,5091.14,5117.94,3896430000,5175.27,1
2024-03-12 00:00:00-04:00,5134.30,5179.87,5114.48,5175.27,4080510000,5165.31,0
2024-03-13 00:00:00-04:00,5173.49,5179.14,5151.88,5165.31,4282890000,5150.48,0
2024-03-14 00:00:00-04:00,5175.14,5176.85,5123.30,5150.48,4687970000,5122.17,0
2024-03-15 00:00:00-04:00,5123.31,5136.86,5104.35,5122.17,1757279000,NaN,0

In [8]:
import sklearn
from sklearn.ensemble import RandomForestClassifier

train = sp500.iloc[:-100]
test = sp500.iloc[-100:]

In [9]:
horizons = [2,5,60,250,1000]
new_predictors = []

for horizon in horizons:
    rolling_averages = sp500.rolling(horizon).mean()
   
    ratio_column = f"Close_Ratio_{horizon}"
    sp500[ratio_column] = sp500["Close"] / rolling_averages["Close"]
    
    trend_column = f"Trend_{horizon}"
    sp500[trend_column] = sp500.shift(1).rolling(horizon).sum()["Target"]
    
    new_predictors+= [ratio_column, trend_column]

In [10]:
def backtest(data, model, new_predictors, start=2500, step=250):
    all_predictions = []
    
    for i in range(start, data.shape[0], step):
        train = data.iloc[0:i].copy()
        test = data.iloc[i:(i+step)].copy()
        predictions = predict(train, test, new_predictors, model)
        all_predictions.append(predictions)
    
    return pd.concat(all_predictions)

In [11]:
sp500=sp500.dropna()
sp500

,Open,High,Low,Close,Volume,Tomarrow,Target,Close_Ratio_2,Trend_2,Close_Ratio_5,Trend_5,Close_Ratio_60,Trend_60,Close_Ratio_250,Trend_250,Close_Ratio_1000,Trend_1000
Date,,,,,,,,,,,,,,,,,
1993-12-14 00:00:00-05:00,465.73,466.12,462.46,463.06,275050000,461.84,0,1.00,1.00,1.00,1.00,1.00,32.00,1.03,127.00,1.18,512.00
1993-12-15 00:00:00-05:00,463.06,463.69,461.84,461.84,331770000,463.34,1,1.00,0.00,1.00,1.00,1.00,32.00,1.03,126.00,1.17,512.00
1993-12-16 00:00:00-05:00,461.86,463.98,461.86,463.34,284620000,466.38,1,1.00,1.00,1.00,2.00,1.00,32.00,1.03,127.00,1.18,513.00
1993-12-17 00:00:00-05:00,463.34,466.38,463.34,466.38,363750000,465.85,0,1.00,2.00,1.00,3.00,1.01,32.00,1.03,128.00,1.18,514.00
1993-12-20 00:00:00-05:00,466.38,466.90,465.53,465.85,255900000,465.30,0,1.00,1.00,1.00,2.00,1.01,32.00,1.03,128.00,1.18,513.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 00:00:00-05:00,5164.46,5189.26,5117.50,5123.69,4208870000,5117.94,0,1.00,1.00,1.00,2.00,1.05,37.00,1.15,141.00,1.26,534.00
2024-03-11 00:00:00-04:00,5111.96,5124.66,5091.14,5117.94,3896430000,5175.27,1,1.00,0.00,1.00,2.00,1.04,36.00,1.15,141.00,1.26,533.00
2024-03-12 00:00:00-04:00,5134.30,5179.87,5114.48,5175.27,4080510000,5165.31,0,1.01,1.00,1.01,3.00,1.05,36.00,1.16,141.00,1.27,534.00
2024-03-13 00:00:00-04:00,5173.49,5179.14,5151.88,5165.31,4282890000,5150.48,0,1.00,1.00,1.00,2.00,1.05,35.00,1.15,141.00,1.27,534.00
2024-03-14 00:00:00-04:00,5175.14,5176.85,5123.30,5150.48,4687970000,5122.17,0,1.00,0.00,1.00,1.00,1.05,35.00,1.15,140.00,1.27,533.00

In [12]:
model = RandomForestClassifier(n_estimators=200, min_samples_split=50, random_state=1)

In [13]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict_proba(test[predictors])[:,1]
    preds[preds >=.6] = 1
    preds[preds <.6] = 0
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [14]:
predictions = backtest(sp500, model, new_predictors)

In [15]:
predictions["Predictions"].value_counts()

Predictions
0.00    4286
1.00     830
Name: count, dtype: int64

In [16]:
prec = precision_score(predictions["Target"], predictions["Predictions"])
acc = accuracy_score(predictions["Target"], predictions["Predictions"])

In [17]:
print('precision: ',prec)
print('accuracy: ',acc)

precision:  0.5734939759036145
accuracy:  0.4794761532447224

In [18]:
predictions["Target"].value_counts() / predictions.shape[0]

Target
1   0.54
0   0.46
Name: count, dtype: float64

In [19]:
feature_imp=pd.Series( model.feature_importances_).sort_index(ascending=True)

In [20]:
new_pred=pd.Series(new_predictors)

In [21]:
print(pd.concat([new_pred,feature_imp],axis=1))

                  0    1
0     Close_Ratio_2 0.16
1           Trend_2 0.01
2     Close_Ratio_5 0.15
3           Trend_5 0.03
4    Close_Ratio_60 0.15
5          Trend_60 0.06
6   Close_Ratio_250 0.14
7         Trend_250 0.08
8  Close_Ratio_1000 0.13
9        Trend_1000 0.08